<div class="wrapper">
        <ul>
            <li [routerLink]="['home']" #rla8="routerLinkActive"  routerLinkActive [ngStyle]="rla8.isActive ? {'color': 'red'} : {'color': 'black'}">All Cards</li>
            <li [routerLink]="['group-card']" #rla="routerLinkActive"  routerLinkActive [ngStyle]="rla.isActive ? {'color': 'red'} : {'color': 'black'}">Group card</li>
            <li [routerLink]="['library-card']" #rla1="routerLinkActive"  routerLinkActive [ngStyle]="rla1.isActive ? {'color': 'red'} : {'color': 'black'}">Library card</li>
            <li [routerLink]="['library-card-v2']" #rla2="routerLinkActive"  routerLinkActive [ngStyle]="rla2.isActive ? {'color': 'red'} : {'color': 'black'}">Library card v2</li>
            <li [routerLink]="['library-card-v3']" #rla3="routerLinkActive"  routerLinkActive [ngStyle]="rla3.isActive ? {'color': 'red'} : {'color': 'black'}">Library card v3</li>
            <li [routerLink]="['library-card-v4']" #rla4="routerLinkActive"  routerLinkActive [ngStyle]="rla4.isActive ? {'color': 'red'} : {'color': 'black'}">Library card v4</li>
            <li [routerLink]="['member-card']" #rla5="routerLinkActive"  routerLinkActive [ngStyle]="rla5.isActive ? {'color': 'red'} : {'color': 'black'}">Member card</li>
            <li [routerLink]="['course-card']" #rla6="routerLinkActive"  routerLinkActive [ngStyle]="rla6.isActive ? {'color': 'red'} : {'color': 'black'}">Course card</li>
            <li [routerLink]="['course-curiculum-card']" routerLinkActive="active" #rla7="routerLinkActive"  [ngStyle]="rla7.isActive ? {'color': 'red'} : {'color': 'black'}">Course curiculum card</li>
            <li [routerLink]="['my-course-card']" #rla9="routerLinkActive"  routerLinkActive [ngStyle]="rla9.isActive ? {'color': 'red'} : {'color': 'black'}">My Course card</li>
          </ul>
    <!-- <div class="" style="flex:1">
        <app-home></app-home>
    </div> -->
</div>

<router-outlet></router-outlet>
