.wrapper {
    background-color: lightblue;
align-items: center;
justify-content: flex-start;
position: fixed;
width: 100%;
top: 52px;
left: 0;
right: 0;z-index:9;
display:flex;
ul {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none none;
        padding: 1rem;
        gap: 1rem; margin: 0;
        overflow-x:auto;
    li {
        white-space: nowrap;
    }
}
}
.accessibility-cc-toolbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.mat-wrapper{
    background-color: lightblue;
    position: fixed;
    width: 100%;
    max-width: 200px;
    top: 52px;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 56px;
}