<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">My Course Card</h3>
    <sb-my-course-card [course]="myCourseCard.course" [isMobile]="false" [isOffline]="false" [isMenu]="true" [section]="true"></sb-my-course-card>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">My Course Card -- offline</h3>
    <sb-my-course-card [course]="myCourseCard.course" [isMobile]="false" [isOffline]="true" [isMenu]="true" [section]="true"></sb-my-course-card>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">My Course Card -- mobile</h3>
    <sb-my-course-card [course]="myCourseCard.course" [isMobile]="true" [isOffline]="true" [isMenu]="true" [section]="true"></sb-my-course-card>
</div>
<sb-my-course-card [isLoading]="true" ></sb-my-course-card>