/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap');
body {
    padding:5%;
    padding-top:4rem;
    &.compass{
        padding:0;
        padding-top: 0;
    }
    font-family: var(--font-com-en);
}