<div class="mb-16">
   
    <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->
      <h5 class="mat-h3 font-weight-bold">Default card</h5> 
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
    <br><br>
    <h5 class="mat-h3 font-weight-bold">Joy card</h5> 
    <sb-library-card-v2 [layoutConfig]="layoutConfig" layout='v2-type4' [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
    <br><br>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" layout='v2-type1' [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
    <br><br>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" layout='v2-type2' [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
    <br><br>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" layout='v2-type3' [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
</div>
<!-- 
<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V2 -- selected</h3>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[0]" [isSelected]="true" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
</div>
    
<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V2  Portal qrcode</h3>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[1]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V2 -- Desktop View</h3>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [hover-template]="hoverTemplate" [content]="VCardData.content" [type]="VCardData.type[2]"  [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel">
        <ng-template #hoverTemplate let-hoverData="hoverData" let-content="content">
            <sb-card-hover class="card-hover" [hoverData]="hoverData"
            [content]="content" (hoverActionClick)="hoverActionClicked($event)">
            </sb-card-hover>
        </ng-template>
    </sb-library-card-v2>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V2 -- Mobile</h3>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[3]" [isMobile] ="true"  [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V2 -- Recently View</h3>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[4]" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V2 -- Offline View</h3>
    <sb-library-card-v2 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[4]" [isOffline]="true" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v2>
</div> -->


