
    <h4>Library Card V3</h4>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
    <br><br>
    <h4>Library Card V3 -- selected</h4>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[0]" [isSelected]="true" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
    <br><br>
    <h4>Library Card V3 -- Portal qrcode</h4>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[1]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
    <br><br>
    <h4>Library Card V3 -- Desktop View</h4>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[2]"  [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
    <br><br>
    <h4>Library Card V3 -- Mobile</h4>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[3]" [isMobile] ="true"  [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
    <br><br>
    <h4>Library Card V3 -- Recently View</h4>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[4]" [isOffline]="true" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
    <br><br>