<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V3</h3>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[0]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V3 -- selected</h3>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[0]" [isSelected]="true" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V3 -- Portal qrcode</h3>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[1]" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
</div>
    
<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V3 -- Desktop View</h3>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[2]"  [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V3 -- Mobile</h3>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[3]" [isMobile] ="true"  [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
</div>

<div class="mb-16">
    <h3 class="mat-h3 font-weight-bold">Library Card V3 -- Recently View</h3>
    <sb-library-card-v3 [layoutConfig]="layoutConfig" [content]="VCardData.content" [type]="VCardData.type[4]" [isOffline]="true" [isMenu]="true" [cardImg]="VCardData.cardImg" [btnlabel]="VCardData.btnlabel"></sb-library-card-v3>
</div>